body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.box1{
	background-image: url(images/hardik-joshi-U7E_uMVTsPc-unsplash.jpg);
    max-width: 100%;
    height: 96vh;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 0;
    background-attachment: fixed;

}
 h1.h1{
	text-align: center;
	margin:0;
	padding: 60vh 10vh 10vh 10vh;
	transition: transform 4s;
	color: white;
	text-shadow: 2px 2px 5px yellow;
}
h1.h1:hover{
	transform: rotate(360deg);
	
	
}
h1.h1:focus{
	transform: rotate(360deg);
	
}
.box2{
	background-color: black;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 18px;
    line-height: 25px;
}
h1.h2{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box3{
	background-image: url(images/rowan-heuvel-4esF1olIbSY-unsplash.jpg);
    max-width: 100%;
    height: 96vh;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 0;
    background-attachment: fixed;
}
h1.h3{
	text-align: center;
	margin:0;
	padding: 10vh;
	color: white;
	text-shadow: 2px 2px 5px yellow;
}
.box4{
	background-image: url(images/800px-City_Palace_by_lake_Pichola,_Udaipur.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h4{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box5{
	background-image: url(images/LakePalaceEarlyMorning.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h5{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box6{
	background-image: url(images/JagMandir.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h6{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box7{
	background-image: url(images/Rishabhdeo_Jain_temple.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h7{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box8{
	background-image: url(images/Sajjangarh1.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h8{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box9{
	background-image: url(images/Jagdish_Temple_Udaipur.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h9{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box10{
	background-image: url(images/Lake_Fatehsagar.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h10{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box11{
	background-image: url(images/Sukhadia_circle,_Udaipur,_Rajasthan.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h11{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box12{
	background-image: url(images/Udaipur-Sahelion_Ki_Bari-03-Garden_of_the_rain_without_clouds-20131013.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h12{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box13{
	background-image: url(images/Pichola_See.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h13{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box14{
	background-image: url(images/Statue_of_Maharana_Pratap_of_Mewar,_commemorating_the_Battle_of_Haldighati,_City_Palace,_Udaipur.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h14{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box15{
	background-image: url(images/KarniMata.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h15{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box16{
	background-image: url(images/Pgk_udaipur.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h16{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box17{
	background-image: url(images/GulabBagh_Entrancec.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h17{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box18{
	background-image: url(images/I_Love_Udaipur.jpg);
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 20px;
    line-height: 25px;
}
h1.h18{
	text-align: center;
	margin:0;
	padding: 25px;
	color: white;
	text-shadow: 2px 2px 5px yellow;
	word-spacing: 5px;
	font-family: "Time New Romen";
	line-height: 35px;
	
}
.box19{
	background-color: black;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin:0;
    padding: 10px;
    color: white;
    background-attachment: fixed;
    font-family: "Time New Romen";
    font-size: 10px;
    line-height: 25px;
    text-align: center;
}